
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="static/css/job_post.css">

    </head>

<body style="background-color: rgb(255, 204, 0);" height="40%"width="80%" >
    <script>
        window.watsonAssistantChatOptions = {
          integrationID: "1df8b62f-ee5c-42bb-9a2f-6edcb89d85f7", // The ID of this integration.
          region: "jp-tok", // The region your integration is hosted in.
          serviceInstanceID: "ee519db2-aba8-4373-a6a2-e4e6fea336d7", // The ID of your service instance.
          onLoad: function(instance) { instance.render(); }
        };
        setTimeout(function(){
          const t=document.createElement('script');
          t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
          document.head.appendChild(t);
        });
      </script> 
    <header>
        <div class="wrapper">
            <div class="logo">
              <a  href="/"><img src="static/img/job_logo.png" alt=""  ></a>
            </div>
              
            <ul class="nav-area">
               
                <li><a href="posts">post Jobs</a></li>
                <li><a href="list">view job</a></li>
                
                
            </ul>
                
            
        </div>
          
<section>
    <div class="contentBx">
        <div class="card">
    
  
   <h2>Recent jobs</h2>
   <table border="1">
    <thead>
    <td>company name</td>
    <td>Job title</td>
    <td>Job role</td>
    <td>Job Description</td>
    </thead>
    {% for list in arr %}
    <tr>
        <td>{{ arr["dname"] }}</td>
        <td>{{ arr["dtitle"] }}</td>
        <td>{{ arr["drole"] }}</td>
        <td>{{ arr["description"] }}</td>
    </tr>
    {% endfor %}
   </table>  

  
   
      </div>
    </div>
    </div>
   </section>
       </header> 

       <div class="grid-container">
        <div class="grid">
            <img src="../static/img/33172-01-finishig-studies.gif" width="100px" height="100px">
            <h5>Get your dream job within a week.</br>Gain on-demand skills.</h5></div>
        <div class="grid">
            <img src="../static/img/27425-train.gif" width="100px" height="100px">
        <h5>Personalized Recommendation. </h5></div>
        <div class="grid">
            <img src="../static/img/75164-glurtr-anmation.gif" width="100px" height="100px">
        <h5>Learn at your own pace, with lifetime access.</h5></div>    
    </div>
  
       
            <hr id="start">
        <div class="job-sign">
            <br><br>
            <h1>Find the best job for your career</h1>
            <button id="sign-center">View jobs</button>
           
        </div>
        <footer>
           
            <hr id="start">
            <br>
            <br>
            <div class="intro">
               
           <h5>Copyrights &copy; 2022 Job Hunter.</h5>
            <h5>Job Hunter is a Best Platform for Job seekers as well as Recruiters. It also provides learning resource
            for users which might be simplified to improve reading and learning.</h5>
            <h5>While using Job hunters, you agree to have read and accepted our terms of use, cookie and privacy policy.</h5> 
          
            <div class="logo-end">
                <a  href="/"><img src="static/img/job_logo.png" alt=""  ></a>
              </div>
            <div class="s-media">
               
                <div class="s1">
                <img src="../static/img/youtube1.png" width="35px" height="35px">
                </div>
                <div class="s2">
                <img src="../static/img/instagram-logo.png"  width="33px" height="33px">
                </div>
                <div class="s3">
                <img src="../static/img/facebook-logo.png" width="35px" height="35px">
             </div>
             </div>
            <br>
            <br>
            <div class="contri">
            <h4>Contributers:  Vigneshwaran M, Vishnu chidambaram R, Karthikeyan M, Mathew akash P</h4>
            <h4>For more details contact us : <a href="mailto:vignesh510510@gmail.com">vignesh510510@gmail.com</a></h4>
            </div>
           

        </footer>

   
    

</body>
</html>